


<div class="mt-4 container ">
    <h2 class="text-center">Create Poll</h2>
    <div class="mb-3">
        <input
        [(ngModel)]="newPoll.question"
         placeholder="Poll question" type="text" class="form-control" required>
    </div>

    <div class="options-container mb-3">
        @for (option of newPoll.options; track $index) {
            <div class="input-group mb-2">
                 <input
        [(ngModel)]="option.voteOption"
         placeholder="Option" type="text" class="form-control" required>
         @if ($index>1) {
            <button class="btn btn-danger" (click)="removeOption($index)">Remove</button>
         }
         
            </div>
        }
    </div>
    <button (click)="createPoll()" class="btn btn-success me-2">Create Poll</button>
    <button (click)="addOption()" class="btn btn-secondary">Add Option</button>


<h2 class="mt-4 text-center">Available polls</h2>
<div class="polls-list">
    
        @for (poll of polls; track $index) {
            <app-poll-item [poll]="poll" (voted)="vote(poll.id,$event)"></app-poll-item>
        }
   
</div>
</div>